body{
    display:flex;
    flex-direction:column;
    padding:0;
    margin:0;
    font-family:"Roboto"
}
.top{
    display:flex;
    flex-direction:column;
    background-color:#1f2937;
    height:600px;
    justify-content: center;;
}
header{
    display:flex;
    justify-content: space-evenly;
    padding:10px;
    background-color:#1f2937;
    padding-top:20px;
}
nav{
    display:flex;
    gap:20px;
    
    
}
a{
    text-decoration:none;
    font-size:18px;
    color:#f9faf8;
   
}
header img{
    font-size:24px;
    color:#f9faf8;
}
h1{
    font-size:48px;
    font-weight:bolder;
    color:#f9faf8;
    margin:0;
    padding:0;
}
.awseome p{
    font-size:18px;
    color:#f9faf8;
    margin:0;
    padding:0;
}
.awseome{
    display:flex;
    flex-direction:column;
    width:24%;
    margin:0;
    padding:0;
    gap:10px;
}
.main{
    display:flex;
    justify-content:space-evenly;
    padding:0;
    margin:0;
}
button{
    width:100px;
    height:30px;
    border-radius:8px;
    border-style:none;
    background-color:#3882f6;
    color:white;
}
.main-two{
    display:flex;
    flex-direction:column;
    /* flex:1; */
    justify-content:center;
    align-items: center;
    /* padding:20px; */
}
.wut{
    display:flex;
    width:52.8%;
    gap:10px;
}
.images{
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
    justify-content: center;
    
}
.information{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    height:400px;
    gap:8px;
}
.thor{
    width:45%;
}
.thors{
    display:flex;
    justify-content: center;
    align-items:center;
    height:400px;
    background-color: #e5e7eb;
    font-size:36px;
    color:#1f2937;
}
.thor span{
    margin-left:450px;
}
.action{
    display:flex;
    height:300px;
    
    align-items: center;
    
}
.button-sec{
    display:flex;
    justify-content:space-around;
    align-items:center;
    background-color:#3882f6;
    border-radius:10px;
    width:1000px;
    height:150px;
    color:white;
}
.weird-butt{
    border:solid white 2px;
}
.foot{
    height:100px;
    background-color: #1f2937;
    width:100%;
    
    align-items:center;
    display:flex;
    justify-content: center;
}
footer{
    color:white;
}